i.fas,
  i.fab {
    border: 1px solid red;
  }
  .fa-fish {
    color: salmon;
  }

  .fa-frog {
    color: green;
  }

  .fa-user-ninja.vanished {
    opacity: 0.0;
  }

  .fa-facebook {
    color: rgb(59, 91, 152);
  }

ion-radio{
  opacity:0;
}

ion-img{
  width: 85px;
  height: 70px;
  display: block;
  margin-left: 50px;
  margin-right: auto;
  
}
* {
  box-sizing: border-box;
}

.zoom {
  padding: 25px;
  transition: transform 0s;
  width: 250px;
  height: 200px;
  margin: 10;
  color:white;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(10.5); /* Safari 3-8 */
  transform: scale(1.25); 
  background-color:#1C1D1D ;
  font-size:"15";
}
ion-img :hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(10.5); /* Safari 3-8 */
  transform: scale(1.25); 
  background-color:#1C1D1D ;
}
ion-button{
  margin-left: 5%;
  margin-right: 50%;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}
ion-item {
  background-color: none;
}
ion-item:hover{
 background-color: black;
}

* {
  box-sizing: border-box;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptext {
  top:-5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
ion-img {
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

ion-img:hover {
  box-shadow: black;
}
.text{
  visibility: hidden;
}
.text:hover{
  visibility: visible;
}

* {
  box-sizing: border-box;
}


#desc {
  visibility: hidden;
}
#desc:hover{
  visibility: visible;
}