 // page.scss
 ion-content{
  background-color: #E7DEDD;
  color: black;
  font-size:"10";
  }
ion-label{
  color:white;
  padding: 8px;
  font-size:"10";
}
p{
  color: white;
  font-size: "50";

}
* {
  box-sizing: border-box;
}

.zoom {
  padding: 25px;
  transition: transform 0s;
  width: 250px;
  height: 200px;
  margin: 10;
  color:#FA0865;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(10.5); /* Safari 3-8 */
  transform: scale(1.25); 
  background-color:black  ;
  font-size:"15";
}
.Header{
  background-color: #F7B8F0 ;
}
.body{
  background-color : #022C2C;
}